<form [formGroup]="filters" (change)="onFilterChange()">
  <div formGroupName="levels">
    <p>Levels</p>
    <div *ngFor="let level of availableLevels; let i = index">
      <input
        id="level-{{ level }}"
        type="checkbox"
        [formControlName]="level"
        checked="{{ level[i] }}"
      />
      <label for="level-{{ level }}">{{ level }}</label>
    </div>
  </div>
  <div formGroupName="origins">
    <p>Consumers</p>
    <div *ngFor="let consumer of consumers; let i = index">
      <input
        id="origin-{{ consumer.name }}"
        type="checkbox"
        [formControlName]="consumer.name"
        checked="{{ consumers[i].name }}"
      />
      <label for="origin-{{ consumer.name }}">{{
        getOriginLabel(consumer)
      }}</label>
    </div>
  </div>
  <p>{{ filters.value | json }}</p>
</form>
