<section name="filters" class="container">
  <h1>Filters</h1>
  <form
    [formGroup]="filters"
    (change)="onFilterChange()"
    class="group-container"
  >
    <div formGroupName="levels" class="group-container">
      <p>Levels</p>
      <div
        *ngFor="let level of availableLevels; let i = index"
        class="item-container"
      >
        <input
          id="level-{{ level }}"
          type="checkbox"
          [formControlName]="level"
          checked="{{ level[i] }}"
        />
        <label for="level-{{ level }}">{{ level }}</label>
      </div>
    </div>
    <div formGroupName="origins" class="group-container">
      <p>Consumers</p>
      <div
        *ngFor="let consumer of consumers; let i = index"
        class="item-container"
      >
        <input
          id="origin-{{ consumer.name }}"
          type="checkbox"
          [formControlName]="consumer.name"
          checked="{{ consumers[i].name }}"
        />
        <label for="origin-{{ consumer.name }}">{{
          getOriginLabel(consumer)
        }}</label>
      </div>
    </div>
  </form>
</section>
